body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

/*  */

.card {
    width: 350px; 
    background: white; 
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 12px rgb(0, 0, 0, 0.15);
    text-align: center; 
    padding-bottom: 15px; 
}

.card:hover {
    box-shadow: 10 15px 20px rgb(0, 0, 0, 0.25);
    transform: translateY(-5px); 
    transition: all 0.3s ease;  
}

.card Img {
    width: 100%; 
    height: 180px;
    object-fit: cover; 
}

.card h1 {
    margin: 12px 0 5px; 
}

.card p {
    padding: 0 15px; 
    color: #555;
    font-size: 14px;
}

.info {
    margin-top: 10px;
    font-size: 14px;   
}

.info a {
    display: block; 
    color: #0077cc;
    text-decoration: none;
    margin: 4px 0; 
}

.info a:hover {
    text-decoration: underline;
}